* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

body {
    height: 100vh;
    width: 100%;
}

.nav-bar {
    width: 100%;
    /* height: 60px; */
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 22px;
    font-weight: 800;
    margin-left: 12px;
    background-color: #8b8b8b;
    padding: 12px;
    border-radius: 10px;
}

.toggle-btn {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

.nav-link__container {
    display: flex;
}

.nav-link__items {
    list-style: none;
}

.nav-link__items:hover {
    background-color: #8b8b8b;
}

.nav-link {
    padding: 18px;
}

@media screen and (max-width: 575px){
    .toggle-btn {
        display: flex;
    }
    .nav-link__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    } 
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-items__links {
        width: 100%;
        height: 92vh;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .nav-link__items {
        text-align: center;
    }
    .active {
        display: flex;
    }
}