@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: black;
  font-size: 18px;
  width: 100%;
  height: 90vh;
}

.btn-container {
  margin: 15px 10px 25px;
  display: flex;
  justify-content: center;
  gap: 5%;
  z-index: 1;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  display: inline-block;
  border: 2px solid black;
  padding: 8px 12px;
  max-width: 120px;
  max-height: 80px;
  cursor: pointer;
  background-color: #1792b1;
  color: #101111;
  border-radius: 8px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.about {
  width: 70%;
  max-width: 900px;
  max-height: 500px;
  position: absolute;
  z-index: 10;
  background: linear-gradient(0deg, #c5cccf, #4c79ab);
  padding: 10px 18px;
}

.heading {
  text-align: center;
  margin-bottom: 15px;
  color: #d1d1d1;
}

.about .btn {
  display: block;
  margin: 12px auto;
}

.about p {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.overlay {
  width: 100%;
  height: 105vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(102deg, #a35494, #73abd9);
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .about {
    overflow-y: scroll;
  }
}
